<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sync
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="!this.audioService.isPaused()" (click)="this.audioService.pause()">
        <ion-icon slot="icon-only" name="stop"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
